*{
   padding:0;
   margin:0;
   box-sizing:border-box;
}
body , html{
   width:100%;
   height:100%;
}
body{
   background:black;
}
pre{
   color:white;
   font-family:'Courier New', Courier, monospace;
   font-size:12px;
   text-align:center;

}
.orc{
   background-image: url(../personagens/orc.png);
}
.bite {
   background-image: url(../personagens/bite.png);
}
.josefina{
   background-image: url(../personagens/josefina.png);
}
.escolha-personagens{
   width:100%;
   height:100%;
   display: flex;
   flex-direction: column;
   align-items:center;
   justify-content:center;
}
.descricao-personagens{
   width:100%;
   height:250px;
   display: flex;
   align-items:center;
   justify-content:space-around;
   border-top: 1px dashed white;
   border-bottom: 1px dashed white;
   
}
.descricao-personagens > div{
   height: 250px;
   width: 250px;
  color: white;
  text-align:center;
  align-items:center;
  word-wrap:1.5px;
  font-family: 'Raleway Dots', cursive;
  padding:5px;
  overflow-y: auto;
}
.personagens{
   width:100%;
   height:230px;
   display: flex;
   align-items:center;
   justify-content:space-around;
}

.personagens> div{
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 200px;
   width: 200px;
}
