*{
   padding:0;
   margin:0;
   box-sizing:border-box;
   text-decoration: none;
}
/* Pagina inicial e modificações */
body , html{
   width:100%;
   height:100%;
}
body{
   background:black;
}
pre{
   color:white;
   font-size:12px;
   text-align:center;

}
.orc{
   background-image: url(../personagens/orc.png);
}
.bite {
   background-image: url(../personagens/bite.png);
}
.josefina{
   background-image: url(../personagens/josefina.png);
}
.escolha-personagens{
   width:100%;
   height:79%;
   display: flex;
   flex-direction: column;
   align-items:center;
   justify-content:center;
}
.descricao-personagens{
   width:100%;
   height:250px;
   display: flex;
   align-items:center;
   justify-content:space-around;
   border-top: 1px dashed white;
   border-bottom: 1px dashed white;  
}
.descricao-personagens > div{
   height: 250px;
   width: 250px;
  color: white;
  text-align:center;
  align-items:center;
  word-wrap:1.5px;
  font-family: 'Raleway Dots', cursive;
  padding:5px;
  overflow-y: auto;
}
button{
   background:none;
   border: none;
   outline: none;
   cursor: pointer;
   display: inline-block;
}
.botao{
   display: inline-block;
}
.botao:hover{
   border:1px dashed red;
}
.imagem{
   width:200px;
   height:60px;
}
.personagens{
   width:100%;
   height:230px;
   display: flex;
   align-items:center;
   justify-content:space-around;
}

.personagens> div{
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 200px;
   width: 200px;
}

/* Fase bite */

.fundo{
   background:black;
   width:100%;
   height:100%;
}
.bite-botao{
   text-align:center;
   margin-top:10px;
}
.fase-bite{
   text-align: center;

}
.dialogo{
   color: white;
  word-wrap:1.5px;
  font-family: 'Raleway Dots', cursive;
  overflow-y: auto;
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
  padding: 15px;
  margin-top: 15px;
  font-size:18px;
}
.creditos{
display: inline-block; 
color: white;
text-align:center;
align-items:center;
font-family: 'Raleway Dots', cursive;
padding:5px;
font-size:20px;
}
.creditos-texto{
   border-top: 1px dashed white;
   border-bottom: 1px dashed white; 
   padding:5px;
}

.audio{
   display: flex;
   align-items: center;
   justify-content: center;   
}
.hello{
   display: flex;
   align-items: center;
   justify-content: center;
   padding:5px;
}
.word{
   border: 1px dashed red;
   padding: 5px;
}